[Unit]
Description=pg_gatherer agent

[Service]
User=root
SyslogIdentifier=pg_gatherer agent

Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=5

#MemoryAccounting=true
#MemoryMax=1G

Environment="TOKEN=coreveNgoh7u"
Environment="CONNECTION_AGENT=postgresql://agent_monitoring_db:password@monitored_host/db?connect_timeout=10&application_name=pg_gatherer&sslmode=disable"
Environment="CONNECTION_MANAGER=postgresql://agent:password@manager_host/gatherer?connect_timeout=10&application_name=pg_gatherer&sslmode=disable"
ExecStart=/usr/local/bin/glua-libs /opt/pg_gatherer/agent/init.lua
